{{ form_start(form, { 'attr': { 'data-controller': 'comment' } }) }}
    <div>
        {{ form_row(form.note, { 'attr': { 'data-comment-target': 'note' } }) }}
    </div>
    <button type="submit" class="btn btn-primary">{{ "button.save"|trans }}</button>

    <a href="#" 
       class="btn btn-secondary {% if 'comment/' in app.request.uri and '/edit' in app.request.uri %}disabled{% endif %}" 
       {% if 'comment/' in app.request.uri and '/edit' in app.request.uri %}aria-disabled="true" onclick="return false;" style="display:none"{% endif %}
       data-turbo-action="remove" 
       data-turbo-frame="comment">
        {{ "button.close"|trans }}
    </a>
{{ form_end(form) }}
