<!-- filepath: /Users/apple/Documents/crm-gdb-consulting/templates/customer/_form.html.twig -->

<!-- Start of the form -->

<!-- Global Errors -->
<div class="row mb-4">
    <div class="col-12">
        {{ form_errors(form) }}
    </div>
</div>

<div class="row">
    <!-- Customer Information -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">{{ 'customer.company_information'|trans }}</h5>
            </div>
            <div class="card-body">
                <!-- Name -->
                <div class="mb-3">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'customer.placeholder.name'}}) }}
                    {{ form_errors(form.name) }}
                </div>

                <!-- Company Name -->
                <div class="mb-3">
                    {{ form_label(form.companyGroup, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.companyGroup, {'attr': {'class': 'form-control', 'placeholder': 'customer.placeholder.company_group'}}) }}
                    {{ form_errors(form.companyGroup) }}
                </div>
            </div>
        </div>
    </div>
</div>