{% extends 'base.html.twig' %}

{% block title %}
    {{ "customer.edit"|trans }}
{% endblock %}

{% block body %}
    <div class="pagetitle">
        <h1>{{ "customer.edit"|trans }}</h1>
    </div>
    <section class="section">
        <div class="row">
            {{ form_start(form) }}
        {{ include('customer/_form.html.twig') }}

        <twig:FormActions
                backRoute="app_customer_index"
                :showDelete="true"
                deleteRoute="app_customer_delete"
                :deleteRouteParams="{'id': customer.id}"
                :entityId="customer.id"
                :isAdmin="is_granted('ROLE_ADMIN')"
        />
                {{ form_end(form) }}
            </div>

    </section>
{% endblock %}