{% extends 'base.html.twig' %}

{% block title %}
	{{ "customer.list"|trans }}
{% endblock %}

{% block body %}
	<div class="pagetitle d-flex justify-content-between align-items-center">
		<h1>{{ "customer.list"|trans }}</h1>
		<twig:Button
				link="{{ path('app_customer_new') }}"
				theme="primary"
				icon="plus"
		/>
	</div>

	{% include 'customer/_filter.html.twig' %}

	<section class="section">
		<div class="card p-4">
			<div class="card-body">
				<form action="{{ path('app_customer_upload') }}" method="post" enctype="multipart/form-data" class="mb-4">
					<div class="input-group">
						<input type="file" name="file" class="form-control" required>
						<twig:Button
								theme="success"
								label="button.upload_file"
								icon="upload"
								type="submit"
						/>
					</div>
				</form>

				<twig:Table
						:paginator="customers"
						:columns="[
                        {field: 'name', label: 'name', sortable: true, sortAlias: 'c.name'},
                        {field: 'siret', label: 'customer.siret', sortable: true, sortAlias: 'c.siret'},
                        {field: 'contacts', label: 'contact.name', sortable: true, sortAlias: 'co.firstName'},
                        {field: 'lastEnergy.contractEnd', label: 'energy.contract_end', sortable: true, sortAlias: 'e.contractEnd'}
                    ]"
						:options="{
                        routes: {
                            show: 'app_customer_show',
                            edit: 'app_customer_edit',
                            delete: false
                        },
                        tableClass: 'table',
                        theadClass: 'table-primary',
                        showActions: true,
                        actions: {
                            show: true,
                            edit: true,
                            delete: false
                        }
                    }"
				>
					{% block column_siret %}
						<a href="https://www.pappers.fr/recherche?q={{ entity.siret }}" target="_blank">{{ entity.siret }}</a>
					{% endblock %}

					{% block column_contacts %}
						{% for contact in entity.contacts %}
							{{ contact }}<br>
						{% endfor %}
					{% endblock %}

					{% block column_lastEnergy_contractEnd %}
						{{ entity.lastEnergy ? entity.lastEnergy.contractEnd|date('d/m/Y') : "-" }}
					{% endblock %}
				</twig:Table>
			</div>
		</div>
	</section>
{% endblock %}