{% extends 'base.html.twig' %}

{% block title %}
	{{ "customer.list"|trans }}
{% endblock %}

{% block body %}
	<div class="pagetitle d-flex justify-content-between">
		<h1>{{ "customer.list"|trans }}</h1>
		<a href="{{ path('app_customer_new') }}" class="btn btn-primary">
			{{ "create"|trans }}
		</a>
	</div>

	{% include 'customer/_filter.html.twig' %}

	<section class="section">
		<div class="card p-4">
			<div class="card-body">
				<form action="{{ path('app_customer_upload') }}" method="post" enctype="multipart/form-data" class="mb-4">
					<div class="input-group">
						<input type="file" name="file" class="form-control" required>
						<button type="submit" class="btn btn-success">{{ "upload_file"|trans }}</button>
					</div>
				</form>

				<table class="table">
					<thead class="bg-gray-50">
						<tr class="table-primary">
							{% set currentOrder = app.request.query.get('order', 'ASC') %}
							{% set newOrder = currentOrder == 'ASC' ? 'DESC' : 'ASC' %}

							<th scope="col" class="text-center">
								<a href="{{ path(app.request.attributes.get('_route'), app.request.query.all()|merge({ name: '', order: newOrder })) }}">
									{{ "name"|trans }}
								</a>
							</th>
							<th scope="col" class="text-center">
								<a href="{{ path(app.request.attributes.get('_route'), app.request.query.all()|merge({ siret: '', order: newOrder })) }}">
									{{ "customer.siret"|trans }}
								</a>
							</th>
							<th scope="col" class="text-center">
								<a href="{{ path(app.request.attributes.get('_route'), app.request.query.all()|merge({ contactName: '', order: newOrder })) }}">
									{{ "contact.name"|trans }}
								</a>
							</th>
							<th scope="col" class="text-center">
								<a href="{{ path(app.request.attributes.get('_route'), app.request.query.all()|merge({ contactName: '', order: newOrder })) }}">
									{{ "energy.contract_end"|trans }}
								</a>
							</th>
							<th scope="col" class="text-center">{{ "button.actions"|trans }}</th>
						</tr>
					</thead>
					<tbody class="bg-white divide-y divide-gray-200">
						{% for customer in customers %}
							<tr>
								<td class=" text-center">{{ customer.name }}</td>
								<td class=" text-center">
									<a href="https://www.pappers.fr/recherche?q={{ customer.siret }}" target="_blank">{{ customer.siret }}</a><br>
								</td>
								<td class="text-center">
									{% for contact in customer.contacts %}

										{{ contact }}<br>
									{% endfor %}
								</td>
								<td class=" text-center">
									{{ customer.getLastEnergy ? customer.getLastEnergy.contractEnd|date('d/m/Y') : "-" }}
								</td>
								<td class="buttonDisplay  text-right">
									<a href="{{ path('app_customer_show', {'id': customer.id}) }}" class="btn btn-primary">{{ "button.show"|trans }}</a>
									<a href="{{ path('app_customer_edit', {'id': customer.id}) }}" class="btn btn-primary">{{ "button.edit"|trans }}</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4" class=" text-center">{{ "no_record"|trans }}</td>
							</tr>
						{% endfor %}

					</tbody>
				</table>

				<div class="navigation mt-4 d-flex justify-content-center">
					{{ knp_pagination_render(customers) }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
