{# Card Projects with Upcoming Deadlines #}
<div class="col-xxl-4 col-xl-12">
    <div class="card info-card project-deadline-card shadow-sm border-0">
        <!-- Dropdown Actions -->
        <div class="filter">
            <a class="icon text-muted" href="#" data-bs-toggle="dropdown">
                <i class="bi bi-three-dots"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                    <h6 class="mb-0">{{ 'dashboard.actions'|trans }}</h6>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ path('app_project_index') }}">
                        <i class="bi bi-eye me-2"></i>{{ 'dashboard.view_all_projects'|trans }}
                    </a>
                </li>
            </ul>
        </div>

        <!-- Card Body -->
        <div class="card-body">
            <h5 class="card-title text-primary fw-bold">
                <i class="bi bi-calendar-event me-2"></i>{{ 'dashboard.projects_expired'|trans }}
            </h5>

            <div class="d-flex align-items-center mt-4">
                <!-- Icon Section -->
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center bg-primary text-white">
                    <i class="bi bi-calendar-event fs-4"></i>
                </div>

                <!-- Project Stats -->
                <div class="ps-4">
                    <h6 class="mb-1">{{ upcomingDeadlineProjects|length }}</h6>
                    <span class="text-warning small fw-bold">{{ 'dashboard.deadline_approaching'|trans }}</span>
                </div>
            </div>

           
        </div>
    </div>
</div>