{# Card Chiffre d'affaires #}
<div class="col-xxl-4 col-md-6">
    <div class="card info-card revenue-card">
        <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                    <h6>{{ 'dashboard.actions'|trans }}</h6>
                </li>
                <li><a class="dropdown-item" href="{{ path('app_customer_index') }}">{{ 'dashboard.view_details'|trans }}</a></li>
            </ul>
        </div>

        <div class="card-body">
            <h5 class="card-title">{{ 'dashboard.revenue'|trans }}</h5>

            <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-euro"></i>
                </div>
                <div class="ps-3">
                    <h6>{{ totalWorth|number_format(0, '.', ' ') }} €</h6>
                    <span class="text-success small pt-1 fw-bold">{{ monthlyWonCustomers }}</span>
                    <span class="text-muted small pt-2 ps-1">{{ 'dashboard.client_monthly'|trans }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
