{# Documents récents #}
<div class="card">
    <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
                <h6>{{ 'dashboard.actions'|trans }}</h6>
            </li>
            <li><a class="dropdown-item" href="{{ path('app_document_index') }}">{{ 'dashboard.view_all'|trans }}</a></li>
        </ul>
    </div>

    <div class="card-body pb-0">
        <h5 class="card-title">{{ 'dashboard.recent_documents'|trans }}</h5>

        <div class="activity">
            {% for document in recentDocuments %}
                <div class="activity-item d-flex">
                    <div class="activite-label">{{ loop.index }}</div>
                    <i class="bi bi-circle-fill activity-badge {{ cycle(['text-success', 'text-danger', 'text-primary', 'text-info', 'text-warning'], loop.index) }} align-self-start"></i>
                    <div class="activity-content">
                        <a href="{{ path('app_document_download', {'id': document.id}) }}" target="_blank" class="fw-bold text-dark">
                            {{ document.name }}
                        </a>
                        <span class="text-muted">({{ document.customer.name }})</span>
                    </div>
                </div>
            {% else %}
                <div class="activity-item d-flex">
                    <div class="activity-content">
                        {{ 'dashboard.no_recent_documents'|trans }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
