{# templates/contact/_modal_form.html.twig #}
<div class="modal-header">
    <h5 class="modal-title">
        {% if entity is defined and entity.id %}
            {{ 'modal.edit.title'|trans }}
        {% else %}
            {{ 'modal.new.title'|trans }}
        {% endif %}
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div id="form-container">
    {% if template_path is defined %}
        {{ include(template_path) }}
    {% else %}
    {{ form_start(form, {'attr': {'data-turbo-frame': '_top'}}) }}
    {{ form_widget(form) }}
    <div class="d-flex gap-2 mt-3">
        {{ component('Button', {
            type: 'submit',
            theme: 'primary',
            label: 'button.save',
            icon: 'save'
        }) }}
    </div>
    {{ form_end(form) }}
    {% endif %}
    </div>
</div>