<table class="table">
	<thead class="bg-gray-50">
		<tr class="table-primary">
			<th scope="col">{{ "menu.document_type"|trans }}</th>
			<th scope="col">{{ "button.actions"|trans }}</th>
		</tr>
	</thead>
	<tbody class="bg-white divide-y divide-gray-200">
		{% for document in documents %}
			<tr>
				<td>
					<a href="{{ path('app_document_download', {'id': document.id}) }}"
					   data-turbo="false"
					   title="{{ document.name }}">
						{{ document.type ? document.type.label : ('document.no_type'|trans) }}
					</a>
				</td>
				<td>
					<div class="flexDoc">
						{{ component('DeleteButton', {
							deleteRoute: 'app_document_delete',
							deleteRouteParams: {'id': document.id},
							entityId: document.id,
							showLabel: false,
							size: 'sm',
							outline: true
						}) }}
{#						<a href="{{ path('app_document_signature_ask', {'id': document.id} ) }}" data-turbo="false">#}
{#							<i class="bi bi-award"></i>#}
{#						</a>#}
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
