{% extends 'base.html.twig' %}

{% block title %}{{ 'document.list'|trans }}{% endblock %}

{% block body %}
	<div class="pagetitle d-flex justify-content-between align-items-center">
		<h1>{{ 'document.list'|trans }}</h1>
		<a href="{{ path('app_document_new') }}" class="btn btn-sm btn-primary rounded-circle">
			<i class="bi bi-plus"></i>
		</a>
	</div>

	<section class="section">
		<twig:Table
				:paginator="entities"
				:columns="[
                {field: 'name', label: 'document.name', sortable: true, sortAlias: 'e.name'},
                {field: 'type', label: 'document.type', sortable: true, sortAlias: 't.label'},
                {field: 'customer', label: 'document.customer', sortable: true, sortAlias: 'c.name'}
            ]"
				:options="{
                routes: {
                    edit: 'app_document_edit'
                },
                tableClass: 'table',
                theadClass: 'table-primary'
            }"
		>
			{% block column_actions %}
				<div class="d-flex gap-2 justify-content-end">
					<a href="{{ path('app_document_download', {'id': entity.id}) }}"
					   data-turbo="false"
					   class="btn btn-sm btn-outline-primary"
					   title="{{ 'action.download'|trans }}"
					   data-bs-toggle="tooltip">
						<i class="bi bi-download"></i>
					</a>
					<a href="{{ path('app_document_edit', {'id': entity.id}) }}"
					   class="btn btn-sm btn-outline-primary"
					   title="{{ 'action.edit'|trans }}"
					   data-bs-toggle="tooltip">
						<i class="bi bi-pencil-square"></i>
					</a>
				</div>
			{% endblock %}
		</twig:Table>
	</section>
{% endblock %}