{# edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ "button.update"|trans }}{% endblock %}

{% block body %}
    <div class="pagetitle">
        <h1>{{ "button.update"|trans }}</h1>
    </div>
    <section class="section">
        <div class="row">
            <div class="card p-4">
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <twig:FormActions
                            backRoute="app_user_index"
                            :showDelete="true"
                            deleteRoute="app_user_delete"
                            :deleteRouteParams="{'id': user.id}"
                            :entityId="user.id"
                            :isAdmin="is_granted('ROLE_ADMIN')"
                    />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}