{# new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ "button.new"|trans }}{% endblock %}

{% block body %}
    <div class="pagetitle">
        <h1>{{ "button.new"|trans }}</h1>
    </div>
    <section class="section">
        <div class="row">
            <div class="card p-4">
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <twig:FormActions
                            backRoute="app_user_index"
                    />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}