{% extends 'base.html.twig' %}

{% block title %}
    {{ "menu.user"|trans }}
{% endblock %}

{% block body %}
    <div class="pagetitle">
        <h1>{{ "menu.user"|trans }}</h1>
    </div>
    <section class="section">
        <div class="row">
            <div class="card p-4">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>{{ "email"|trans }}</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>{{ "roles"|trans }}</th>
                            <td>
                                {% for role in user.roles %}
                                    <div class="text-sm text-gray-500">{{ role|trans }}</div>
                                {% endfor %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <twig:FormActions
                            backRoute="app_user_index"
                            :showDelete="true"
                            deleteRoute="app_user_delete"
                            :deleteRouteParams="{'id': user.id}"
                            :entityId="user.id"
                            :isAdmin="is_granted('ROLE_ADMIN')"
                    />
                </div>
            </div>
        </div>
    </section>
{% endblock %}
